$max-width-sm: 384px;
$max-width-md: 448px;
$max-width-lg: 521px;
$max-width-xl: 576px;
$max-width-2xl: 672px;
$max-width-3xl: 768px;
$max-width-4xl: 896px;
$max-width-5xl: 1024px;
$max-width-6xl: 1152px;
$max-width-7xl: 1280px;

// size for icons 
$size-icon-logo: 50px;
$size-icon-mobile-logo: 30px;
$size-icon: 40px;
$size-icon-mobile: 20px;

// color 
$orange: rgb(255, 125, 26);
$light-orange: rgb(253, 183, 129);
$dark-orange: rgb(247, 133, 46);
$veryDarkBlue: rgb(29, 32, 37);
$darkGrayishBlue: rgb(104, 112, 125);
$grayishBlue: rgb(182, 188, 200);
$lightGray: rgb(247, 248, 253);
$white: #fff;
$black: rgb(211, 211, 211);